<nav-page id="app-page">

    <!--
    Create tabs with an icon and text label, using the tabs-positive style (blue by default),
    and disabling header title animation when switching tabs.
    -->
    <tabs tabs-style="tabs-icon-top" tabs-type="tabs-positive" animate-nav="false">

        <!-- Find Dpers tab -->
        <tab title="找人" icon="icon ion-ios7-search">

            <content has-header="true" has-tabs="true">

                <!--Common Contacts Area -->
                <div ng-controller="CommonContactsAreaCtrl">
                    <list>
                        <div class="item item-divider">
                            常用联系方式
                        </div>

                        <div ng-repeat="commonContact in commonContacts">
                            <a class="item item-avatar" ng-href="#/commonContact/{{commonContact.id}}">
                                <img ng-src="{{commonContact.avatar}}">

                                <h3>{{commonContact.title}}</h3>

                                <p>{{commonContact.description}}</p>
                            </a>
                        </div>
                    </list>
                </div>

                <!--Starred Contacts Area -->
                <div ng-controller="StarredContactsAreaCtrl">
                    <list>
                        <div class="item item-divider">
                            已收藏联系人
                        </div>
                        <div ng-repeat="starredContact in starredContacts">
                            <a class="item item-avatar" ng-href="#/starredContact/{{starredContact.id}}">
                                <img ng-src="{{starredContact.avatar}}">

                                <h3>{{starredContact.title}}</h3>

                                <p>{{starredContact.description}}</p>
                            </a>
                        </div>
                    </list>
                </div>

            </content>
        </tab>

        <!-- My Profile tab -->
        <tab title="我" icon="icon ion-ios7-person-outline">
            <content has-header="true" has-tabs="true">
                <div class="content has-header cards-bg">

                    <!--Basic Info-->
                    <div class="list">

                        <div class="item item-avatar">
                            <img src="/img/profile.png">

                            <h2>Pieux Xi</h2>

                            <p>初级程序员</p>
                        </div>

                        <div class="item item-divider">
                        </div>

                        <li class="item item-icon-left">
                            <i class="icon ion-ios7-people"></i>部门
                            <span class="item-note">业务系统部</span>
                        </li>

                        <li class="item item-icon-left">
                            <i class="icon ion-ios7-telephone"></i>电话
                            <span class="item-note">18616348933</span>
                        </li>

                    </div>
                </div>
            </content>
        </tab>

        <!-- More tab -->
        <tab title="更多" icon="icon ion-ios7-more-outline">
            <content has-header="true" has-tabs="true">
                <list>
                    <a class="item" href="#">
                        版本更新
                    </a>
                    <a class="item" href="#">
                        清除缓存
                    </a>
                </list>
            </content>
        </tab>

    </tabs>
</nav-page>
