<nav-page title="starredContact.title">
    <content has-header="true">
        <!--Basic Info-->
        <div class="list">
            <div class="item item-avatar">
                <img ng-src="{{contact.avatar}}">

                <h2>{{contact.name}}</h2>

                <p>{{contact.description}}</p>

                <div class="item-icon-right" ng-click="star()">
                    <i class="icon"
                       ng-class="{'ion-ios7-star': contact.starred, 'ion-ios7-star-outline': !contact.starred}"></i>
                </div>
            </div>

            <div class="item item-divider">
            </div>

            <div class="item item-icon-left">
                <i class="icon ion-ios7-people"></i>部门
                <span class="item-note">{{contact.department}}</span>
            </div>

            <div class="item item-icon-left">
                <i class="icon ion-ios7-telephone"></i>手机
                <span class="item-note">{{contact.mobile}}</span>
            </div>
        </div>

        <div class="button-bar">
            <a class="button"> 拨打 </a>
            <a class="button"> 短信 </a>
        </div>

    </content>
</nav-page>


